import yfinance as yf
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt

date_start = datetime(year= 2024, month= 2, day= 1)
data_end = datetime(year= 2026, month= 2, day=1)
ticket = ['NVDA', 'BTC-USD']
df_Fin = yf.download(
    tickers=ticket,
    start=date_start,
    end=data_end,
    interval='1d',
    auto_adjust=True,
    progress=False
)
df_normal=(df_Fin/df_Fin.iloc[0])*100
df_normal['retorno_BTC-USD'] = df_normal['Close']['BTC-USD'].pct_change(fill_method=None).dropna()
df_normal['retorno_NVDA'] = df_normal['Close']['NVDA'].pct_change(fill_method=None).dropna()
volatilidad_NVDA = df_normal['retorno_NVDA'].std()*np.sqrt(252)
volatilidad_BTC_USD = df_normal['retorno_BTC-USD'].std()*np.sqrt(365)
print(f'Volatilidad:{volatilidad_BTC_USD:.2%}')
print(f'Volatilidad: {volatilidad_NVDA:.2%}')
risk_free_annual = 0.04
risk_free_daily = (1+ risk_free_annual)*(1/252)-1
risk_free_daily_BTC = (1+ risk_free_annual)*(1/365)-1
df_normal['excedente_NVDA'] = df_normal['retorno_NVDA']-risk_free_daily
df_normal['excedente_BTC-USD'] = df_normal['retorno_BTC-USD']-risk_free_daily_BTC
sharpe_nvda = (df_normal['excedente_NVDA'].mean()/df_normal['excedente_NVDA'].std())*np.sqrt(252)
sharpe_BTC_USD = (df_normal['excedente_BTC-USD'].mean()/df_normal['excedente_BTC-USD'].std())*np.sqrt(365)
print(f'NVDA: {sharpe_nvda}')
print(f'BTC-USD: {sharpe_BTC_USD}')
df_normal['Close'].plot(figsize=(10, 6), linewidth=2)
plt.ylabel('Valor de la inversion', fontsize= 14)
plt.title('Nvidia vs Bitcoin', fontsize=14)
plt.grid(True, alpha=0.3)
plt.legend(['Bitcoin', 'NVIDIA'])
plt.show()
